/* ENTIRE BODY */

* {
    box-sizing: border-box;
}

html,
body {
    background-color: #95D5B2;
    font-family: 'Montserrat', sans-serif;
    height: 100%;
    margin: 0;
    padding: 0;
}

/* ADMIN USERNAME AREA */

.username-button {
    background-color: #1B4332;
    color: #D8F3DC;
    font-size: .75em;
    margin: 0;
    padding: 10px;
    text-align: right;
}

.fa-sort-down {
    font-size: 1.5em;
    margin-left: 1%;
}

.plant-logo {
    font-size: 5em;
    margin: auto;
    text-align: right;
}

/* NAVIGATION MENU */

.container {
    background-color: #1B4332;
    color: #D8F3DC;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    height: 10vh;
    list-style: none;
}

.shares,
.recipes,
.personal-videos {
    align-items: flex-end;
    display: flex;
    justify-content: space-around;
    margin-right: 50%;
    white-space: nowrap;
}

.recipes {
    padding-right: 45%;
}

.personal-videos {
    padding-right: 50%;
}

i {
    color: #D8F3DC;
    margin-right: 10px;
}

/* MAIN DISPLAY */

main {
    background-color: #95D5B2;
    padding: 2%;
}

h2 {
    background-color: #95D5B2;
}

.recipe-card-container {
    display: grid;
    color: #253237;
    grid-gap: 0.5rem;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-template-areas:
        "card-1 card-2 card-3 card-4"
        "card-5, card-6, card-7, card-8";
}

/* CARDS DISPLAY */

.card {
    background-color: white;
    border: 2px solid #2D6A4F;
}

.card-image {
    background-repeat: no-repeat;
    background-size: cover;
    height: 200px;
}

.mac-and-cheese {
    background-image: url('https://images.unsplash.com/photo-1543339503-6dffa8e76647?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=1050&q=80');
}

.queso {
    background-image: url("https://images.unsplash.com/photo-1572040975635-c561ad4f2fd5?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=1050&q=80");
}

.lasagna {
    background-image: url("https://images.unsplash.com/photo-1606156662742-6372c8da0986?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=1355&q=80");
}

.ramen {
    background-image: url('https://images.unsplash.com/photo-1569562211093-4ed0d0758f12?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=1050&q=80');
}

.dumplings {
    background-image: url('https://images.unsplash.com/photo-1583224994076-ae951d019af7?ixid=MXwxMjA3fDB8MHxzZWFyY2h8OXx8ZHVtcGxpbmdzfGVufDB8fDB8&ixlib=rb-1.2.1&auto=format&fit=crop&w=400&q=60');
}

.smoothie-bowl {
    background-image: url('https://images.unsplash.com/photo-1557568951-a691f75c810f?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=1350&q=80');
}

.pizza {
    background-image: url('https://images.unsplash.com/photo-1591722889175-f66ee6b51775?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=1050&q=80');
}

.soba-noodle {
    background-image: url('https://images.unsplash.com/photo-1516901121982-4ba280115a36?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=1502&q=80');
}

.fa-arrow-alt-circle-right {
    font-size: 3em;
}

.card-views {
    align-items: flex-end;
    color: white;
    display: flex;
    flex-direction: column;
    margin-top: -11%;
    padding-right: 2%;
}

.views {
    margin: 0;
}

.numViews {
    color: white;
    font-size: 2em;
    margin-top: 0%;
}

.recipe-image {
    height: auto;
    position: relative;
    width: 100%;
}

.card-content {
    padding-left: 5%;
}

.date,
.type-recipe,
.number {
    margin-top: -5%;
}

.recipe {
    font-size: .8em;
}

.type-recipe,
.attachment {
    font-size: .8em;
}

.date {
    color: #2D6A4F;
    font-size: .65em;
}

.URL {
    background-color: #B7E4C7;
    color: #253237;
    font-size: .65em;
    height: 3vh;
    padding: 3%;
    width: 90%;
}

.number {
    color: #52B788;
    font-size: 2em;
}

/* LARGE SCREENS */ 
@media screen and (min-width: 1800px) {
    .card-image {
        height: 30vh;
    }

    .card-views {
        margin-top: -7%;
        padding: 2%;
    }

    .card-content {
        font-size: 2em;
    }

}

/* TABLETS */

@media screen and (min-width: 501px) and (max-width: 1024px) {

    .plant-logo {
        font-size: 3em;
    }

    .fa-share-alt,
    .fa-list-ul,
    .fa-user {
        font-size: 2em;
        padding-left: 10%;
    }

    .shares-text,
    .recipe-text,
    .video-text {
        display: none;
    }

    .card {
        width: 90vw;
    }

    .card-image {
        height: 30vh;
    }

    .card-views {
        margin-top: -7%;
        padding: 2%;
    }

    .card-content {
        font-size: 2em;
    }

    .URL {
        height: 6vh;
    }

    .recipe-card-container {
        grid-template-columns: 1.5fr;
        grid-template-rows: 2fr;
        grid-template-areas:
            "card-1"
            "card-2"
            "card-3"
            "card-4"
            "card-5"
            "card-6"
            "card-7"
            "card-8";
        place-items: center;
        width: auto;
    }
}

/* SMARTPHONES */

@media screen and (max-width: 500px) {


    .plant-logo {
        font-size: 3em;
    }

    .fa-share-alt,
    .fa-list-ul,
    .fa-user {
        font-size: 1.5em;
        padding-left: 10%;
    }

    .shares-text,
    .recipe-text,
    .video-text {
        display: none;
    }

    .card {
        width: 90vw;
    }

    .card-image {
        height: 30vh;
    }

    .card-content {
        font-size: 1.5em;
    }

    .URL {
        height: 6vh;
    }

    .recipe-card-container {
        grid-template-columns: 1.5fr;
        grid-template-rows: 2fr;
        grid-template-areas:
            "card-1"
            "card-2"
            "card-3"
            "card-4"
            "card-5"
            "card-6"
            "card-7"
            "card-8";
        place-items: center;
        width: auto;
    }
}